@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.slick-dots {
  position: absolute;
  bottom: 160px;
 
  justify-content: center;
  margin: 0;
  color: #ffff;
  padding: 0;
  width: 100%;
}


.slick-dots li {
  margin: 0 4px;
}


.slick-dots li button {
  color: #fff; /* Set the dot color to white */
  opacity: 0.5; /* Adjust the opacity as needed */
  border: 1px solid #fff; /* Set the border color to white */
  border-radius: 50%; /* Make the dots circular */
  width: .1rem;
  height: .1rem;
}

.slick-dots li.slick-active button {
  opacity: 1;
  background-color: #fff; /* Set the background color of the active dot to white */
  border: 1px solid #fff; /* Set the border color of the active dot to white */
}


.car{
  position: relative;
  overflow-x: hidden ;
}

.nav{
  position: absolute;
  z-index: 10;
}

.sort{
  position: absolute;
  z-index: 10;
}

.card-sort{
  position: relative;
}